@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h2>Just to test commit 1</h2>

<h3>Just to test commit 2</h3>

<h4>Just to test commit 3</h4>

<h5>Just to test commit 4</h5>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
